<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python" arguments="-m streamlit run src/web/app.py --server.port=%PORT% --server.address=0.0.0.0 --server.headless=true --server.enableCORS=false --server.enableXsrfProtection=false" stdoutLogEnabled="true" stdoutLogFile="D:\home\LogFiles\streamlit.log">
      <environmentVariables>
        <environmentVariable name="PORT" value="%PORT%"/>
        <environmentVariable name="WEBSITES_PORT" value="8000"/>
        <environmentVariable name="WEBSITES_ENABLE_APP_SERVICE_STORAGE" value="false"/>
        <environmentVariable name="WEBSITES_CONTAINER_START_TIME_LIMIT" value="1800"/>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot"/>
        <environmentVariable name="STREAMLIT_SERVER_PORT" value="%PORT%"/>
        <environmentVariable name="STREAMLIT_SERVER_ADDRESS" value="0.0.0.0"/>
        <environmentVariable name="STREAMLIT_SERVER_HEADLESS" value="true"/>
        <environmentVariable name="STREAMLIT_SERVER_ENABLE_CORS" value="false"/>
        <environmentVariable name="STREAMLIT_SERVER_ENABLE_XSRF_PROTECTION" value="false"/>
      </environmentVariables>
    </httpPlatform>
    <rewrite>
      <rules>
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^static/(.*)$" />
          <action type="None" />
        </rule>
        <rule name="HealthCheck" stopProcessing="true">
          <match url="^health$" />
          <action type="None" />
        </rule>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" 
                  redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200" />
      </requestFiltering>
    </security>
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
